[Desktop Entry]
Name=Ghalam
GenericName=Screen Annotator
Comment=Ghalam (قلم) - Fast, elegant screen drawing & annotation tool
Exec=/home/chief/Desktop/Projects/screen-anotator/run.sh
Icon=/home/chief/Desktop/Projects/screen-anotator/assets/icon.png
Terminal=false
Type=Application
Categories=Utility;Graphics;
Keywords=ghalam;pen;screen;annotate;draw;highlighter;screenshot;
StartupNotify=false
